.root {
  margin-top: 2rem;
}

.columnContainer {
  padding: 1rem;
}

.leftColumnContainer {
  background-color: red;
}

.centerColumnContainer {
  background-color: green;
}

.rightColumnContainer {
  background-color: blue;
}
